:root {
    --attended-token-color: #404040;
    --unattended-token-color: #a0a0a0;
    --positive0: #e0f3f8;
    --positive1: #abd9e9;
    --positive2: #74add1;
    --positive3: #4575b4;
    --positive4: #313695;
    --negative0: #fee090;
    --negative1: #fdae61;
    --negative2: #f46d43;
    --negative3: #d73027;
    --negative4: #a50026;
    --blue0: #f7fbff;
    --blue1: #deebf7;
    --blue2: #c6dbef;
    --blue3: #9ecae1;
    --blue4: #6baed6;
    --blue5: #4292c6;
    --blue6: #2171b5;
    --blue7: #08519c;
    --blue8: #08306b;
}

body {
    font-family: sans-serif;
}

.llm-attributor-logo-icon {
    width: 50px;
    height: 50px;
    float: left;
}

.header {
    font-size: 30px;
    width: 276px;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
    position: relative;
    left: calc(50% - 138px);
    color: #404040;
    margin: 15px 0px 5px 0px;
    line-height: 50px;
    vertical-align: middle;
}

/* Attribution Visualization */
.prompt-text-wrapper {
    padding-bottom: 15px;
}

.prompt-wrapper, 
.generated-text-wrapper, 
.compared-title {
    margin-bottom: 5px;
}

.compared-wrapper {
    display: none;
}

.prompt-title {
    font-size: 14px;
    color: #a0a0a0;
    padding: 5px 0px 0px 2px;
}

.prompt {
    font-size: 14px;
    color: #808080;
    padding-left: 2px;
}

.generated-title, 
.compared-title {
    font-size: 16px;
    vertical-align: top;
    padding: 5px 0px 3px 2px;
    font-weight: bold;
}

.generated-title {
    color: #606060;
}

.robot-icon {
    width: 22px;
    height: 22px;
    transform: translateY(2px);
}

.robot-icon path {
    fill: #606060;
}

#bird-in-hat-icon {
    width: 22px;
    height: 22px;
    fill: #606060;
    transform: translateY(1px);
}

.generated-text {
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    border-radius: 7px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #404040;
}

.result-wrapper {
    position: relative;
    width: 100%;
    margin-top: 25px;
}

.attribution-result-wrapper {
    display: inline-block;
    width: calc((100% - 10px) * 0.75);
}

.attribution-wrapper {
    margin-bottom: 7px;
    font-size: 14px;
}

.positive-attribution-wrapper {
    padding-top: 10px;
}

.negative-attribution-wrapper {
    margin-top: 40px;
}

.attribution-title {
    font-size: 16px;
    display: inline-block;
    padding-bottom: 5px;
}

.attribution-title {
    color: var(--blue8);
}

.up-solid-icons,
.down-icons {
    width: 20px;
    height: 16px;
    transform: translate(2px, 2px);
    fill: var(--blue7);
}

.attribution {
    padding-left: 3px;
}

.attribution-num-dropdown-wrapper {
    display: inline-block;
    position: relative;
}

.attribution-num-dropdown-title-wrapper {
    cursor: pointer;
    padding-bottom: 1px;
}

.attribution-num-dropdown-title-wrapper {
    border-bottom: 1px solid var(--blue7);
}

.attribution-num-dropdown-text {
    display: inline-block;
    padding: 0 7px;
}

.attribution-num-dropdown-text {
    color: var(--blue8);
}

.attribution-num-dropdown-svg {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.attribution-num-dropdown-svg {
    fill: var(--blue3);
}

.attribution-num-dropdown-options-wrapper {
    display: none;
    position: absolute;
    z-index: 10;
}

.attribution-num-dropdown-option {
    padding: 2px 0;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    margin: -1px 0 0 0;
    width: 30px;
    text-align: center; 
}

.attribution-score-title {
    width: calc((90% - 5px) * 0.25);
}

.attributed-text-wrapper {
    box-sizing: border-box;
    height: 54px;
    padding: 7.5px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.attributed-text-wrapper > * {
    pointer-events: none;
}

.positive-attributed-text-wrapper {
    background-color: var(--blue1);
    border: 1px solid var(--blue4);
    color: var(--blue6);
}

.negative-attributed-text-wrapper {
    background-color: var(--blue0);
    border: 1px solid var(--blue3);
    color: var(--blue5);
}

.attributed-text {
    line-height: 1.2em;
}

.attributed-text-info-wrapper {
    opacity: 0.7;
    padding-bottom: 2px;
    padding-top: 2.5px;
}

.attributed-text-info-score {
    float: right;
}

/* full text tokens */
.attributed-text-expanded-title {
    font-size: 17px;
    padding: 7px 5px 3px 5px;
    font-weight: bold;
    color: #606060;
}

.attributed-text-expanded-contents {
    padding: 0px 5px 0px 5px;
}

.full-text-wrapper {
    pointer-events: none;
    font-size: 14px;
}

.full-text-title {
    font-weight: bold;
    padding: 10px 0 2px 0;
}

.token-wrapper {
    user-select: none; 
    -webkit-user-drag: none; 
    -moz-user-select: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
}

.token {
    display: inline-block;
    user-select: none; 
    -webkit-user-drag: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
    pointer-events: none;
}

.attended-token {
    color: var(--attended-token-color);
}

.unattended-token {
    color: var(--unattended-token-color);
}

.attended-token.selected-token,
.unattended-token.selected-token {
    color: var(--highlighted-token-color);
}

.token.line-break-token {
    padding-left: 5px;
}

.space-token {
    padding-left: 2px;
}

.left-space-token {
    padding-left: 6px;
}

.first-in-line-token.left-space-token {
    padding-left: 0px;
}

nobr:has(.first-in-line-token.left-space-token)::before {
    content: " ";
    display: block;
}

.full-text-wrapper {
    margin-bottom: 30px;
}

/* other metadata */
.expanded-contents {
    margin-top: 2px;
}

.expanded-contents .expanded-contents-title {
    padding-right: 10px;
    font-weight: bold;
}

.positive-attributed-text-wrapper .expanded-contents a.expanded-contents-value {
    color: var(--blue6);
    cursor: pointer;
    pointer-events: auto;
}

.positive-attributed-text-wrapper .expanded-contents a.expanded-contents-value:hover {
    color: var(--blue7);
}

.negative-attributed-text-wrapper .expanded-contents a.expanded-contents-value {
    color: var(--blue5);
    cursor: pointer;
    pointer-events: auto;
}

.negative-attributed-text-wrapper .expanded-contents a.expanded-contents-value:hover {
    color: var(--blue7);
}

/* sidebar */
.sidebar {
    height: fit-content;
    width: calc((100% - 10px) * 0.25);
    position: relative;
    float: right;
    border-left: 1px solid #f0f0f0;
    box-sizing: border-box;
    padding: 7px;
}

/* histogram */
.attribution-score-histogram-wrapper {
    padding-top: 5px;
}

.attribution-score-histogram-title {
    padding-left: 3px;
    font-size: 15px;
    color: #808080;
}

.attribution-score-histogram-y-axis-tick-text {
    font-size: 11px;
    fill: #b0b0b0;
    text-anchor: end;
}


.attribution-score-histogram-hovered-text {
    text-anchor: start;
    font-size: 12px;
}

/* tf-idf */
.attribution-text-tf-idf-wrapper {
    padding-left: 3px;
    position: relative;
}

.attribution-text-tf-idf-title {
    font-size: 15px;
    color: #808080;
}

.positive-attribution-text-tf-idf-title-detail {
    font-size: 12px;
    color: #a0a0a0;
    padding-bottom: 5px;
}

.negative-attribution-text-tf-idf-title {
    padding-bottom: 5px;
}

.attribution-text-tf-idf {
    font-size: 12px;
    color: #808080;
    overflow-y: scroll;
    scrollbar-width: none;
    position: relative;
}

.attribution-text-tf-idf-word {
    width: fit-content;
    margin-right: 5px;
    padding: 4px 7px;
    margin-bottom: 4px;
    border-radius: 7px;
}

.positive-attribution-text-tf-idf-word {
    background-color: var(--blue1);
    color: var(--blue5);
    border: 1px solid var(--blue3);
}

.negative-attribution-text-tf-idf-word {
    background-color: var(--blue0);
    color: var(--blue4);
    border: 1px solid var(--blue2);
}

/* tokens */
.tokens-container br {
    display: block;
    margin-top: 10px;
    content: " ";
}

.tokens-container {
    position: relative;
}

.generated-text .tokens-container .attended-token {
    border-bottom: 3px solid #74add1a0;
    color: var(--positive4);
}

.generated-text .tokens-container .unattended-token {
    color: #606060;
    border-bottom: 3px solid #ffffff00;
}

.positive-attributed-text-wrapper .expanded-contents-wrapper .tokens-container .attended-token {
    color: var(--blue6);
}

.positive-attributed-text-wrapper .expanded-contents-wrapper .tokens-container .unattended-token {
    color: #aaaaaa;
}

.negative-attributed-text-wrapper .expanded-contents-wrapper .tokens-container .attended-token {
    color: var(--blue5);
}

.negative-attributed-text-wrapper .expanded-contents-wrapper .tokens-container .unattended-token {
    color: #aaaaaa;
}