:root {
    --highlighted-token-color: #ff0000;
    --attended-token-color: #000000;
}

body {
    font-family: sans-serif;
}

/* buttons */
.button {
    width: fit-content;
    display: inline-block;
    background-color: #eaeaea;
    border: #b0b0b0 1px solid;
    cursor: pointer;
    padding: 3px 7px;
    border-radius: 7px;
    margin-right: 3px;
}

.activated-button {
    background-color: #9ecae1;
}

.button:hover {
    background-color: #c0c0c0;
}

.button.activated-button:hover {
    background-color: #4292c6;
}

.text-wrapper {
    margin: 15px 0;

}

.added-text {
    padding-left: 5.5px;
    display: inline-block;
    color: #d94801;
    font-weight: bold;
}

.word {
    display: inline-block;
    padding-left: 5.5px;
    user-select: none; 
    -webkit-user-drag: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
}

.left-adding-word {
    background-color: #fdd0a2;
    padding-left: 13.5px;
}

.deleted-word {
    text-decoration: 3px line-through #2171b5;
}

.delete-hovered-word {
    text-decoration: 3px line-through #2171b5;
    background: #9ecae1;
}

.edit-left-adding-word {
    background-color: #fdd0a2;
    padding-left: 13.5px;
}

.edit-hovered-word {
    text-decoration: 3px line-through #2171b5;
    background: #9ecae1;
}

.token {
    font-size: 16px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    user-select: none; 
    -webkit-user-drag: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none;
}

.token.line-break-token {
    padding-left: 5px;
}

.space-token {
    padding-left: 4px;
}

.left-space-token {
    padding-left: 6px;
}

.first-in-line-token.left-space-token {
    padding-left: 0px;
}

.deleted-token {
    text-decoration: 3px line-through #ff0000;
}

.deleted-token.delete-hovered-token,
.delete-hovered-token {
    text-decoration: 3px line-through #ff0000a0;
    background: #ff000040;
}

.edit-hovered-token {
    text-decoration: 3px line-through #ff0000a0;
    background: #ff000040;
}

.editing-deleted-token {
    text-decoration: 3px line-through #ff0000;
    background: #ff000040;
}

/* result */
.copy-button {
    display: inline-block;
    background-color: #eaeaea;
    border: #b0b0b0 1px solid;
    cursor: pointer;
    padding: 3px 7px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.copy-button:hover {
    background-color: #c0c0c0;
}

.llm-attributor-deleted-text {
    display: none;
}

.llm-attributor-added-text {
    display: inline-block;
    color: #ff0000;
    padding-left: 5.5px;
}

/* User input window */
.user-input-wrapper {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    padding: 10px;
}

.user-input-arrow-up {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #f0f0f0;;
    top: -10px;
    left: 10px;
    position: absolute;
}

.user-input-title {
    margin-bottom: 4px;
}

.user-input {
    width: 200px;
    height: 50px;
}

.user-input-submit-button {
    padding: 3px 5px;
    background-color: #d0d0d0;
    width: 40px;
    text-align: center;
    border: 1px solid #404040;
}

.user-input-submit-button:hover {
    background-color: #a0a0a0;
}